[package]
name = "cel"
version = "0.3.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "cel"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.22.6", features = ["chrono", "gil-refs", "py-clone"]}
cel-interpreter = {  version = "0.9.0", features = ["chrono", "json", "regex"] }
log = "0.4.22"
pyo3-log = "0.11.0"
chrono = { version = "0.4.38", features = ["serde"] }
