[package]
name = "cel"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "cel"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.22.5", features = ["chrono", "gil-refs"]}
cel-interpreter = "0.8.1"
log = "0.4.22"
pyo3-log = "0.11.0"
chrono = { version = "0.4.38", features = ["serde"] }
